/*
 * About Us Section
 */
#about-us-text {
    margin-top: 15px;
    margin-bottom: 20px;
}


/*
 * Our Team Section
 */
#our-team-header {
    padding-top: 20px;
    font-family: var(--display-font-stack-bold);
}

.our-team-container {
    display: flex;
}

.team-member {
    max-width: fit-content;
    float: left;
    margin-top: 15px;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 10px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 175px;
    transition: all 0.5s ease-in-out;
}

.team-member:first-of-type {
    margin-left: auto;
}

.team-member:last-of-type {
    margin-right: auto;
}

.team-member-name {
    font-size: 18pt;
    max-width: fit-content;
    padding-bottom: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--display-font-stack-bold);
    transition: all 0.5s ease-in-out;
}

.team-member-role {
    font-size: 12pt;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #our-team-header {
        font-size: 16pt;
    }

    .our-team-container {
        flex-direction: column;
    }

    .team-member {
        margin-left: auto;
        margin-right: auto;
    }

    .team-member-name {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .team-member {
        margin-left: 3vw;
        margin-right: 3vw;
        min-width: auto;
    }

    .team-member:first-of-type {
        margin-left: auto;
    }

    .team-member:last-of-type {
        margin-right: auto;
    }

    .team-member-name {
        font-size: 14pt;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .team-member {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .team-member:first-of-type {
        margin-left: auto;
    }

    .team-member:last-of-type {
        margin-right: auto;
    }
}