/*
 * Contact Table
 */
table#contact-table {
    border-radius: 10px;
    margin-top: 20px;
}

table#contact-table, tbody#contact-table-body > tr > td {
    border-collapse: collapse;
    padding: 10px;
    font-size: 16pt;
}

tbody#contact-table-body > tr:first-of-type > td:first-of-type {
    border-top-left-radius: 10px;
}

tbody#contact-table-body > tr:first-of-type > td:last-of-type {
    border-top-right-radius: 10px;
}

tbody#contact-table-body > tr:last-of-type > td:first-of-type {
    border-bottom-left-radius: 10px;
}

tbody#contact-table-body > tr:last-of-type > td:last-of-type {
    border-bottom-right-radius: 10px;
}

tbody#contact-table-body > tr > td {
    background-color: lightgray;
    color: black;
}

tbody#contact-table-body > tr > td:first-of-type {
    background-color: yellow;
    color: black;
    font-family: var(--text-font-stack-bold);
}

#email-icon, #phone-icon, #mailing-address-icon {
    height: 30px;
    vertical-align: top;
    padding-right: 10px;
    min-width: 35px;
}

/* Extremely small devices (only for a handfull of devices) */
@media only screen and (max-width: 350px) {
    table#contact-table {
        margin-left: auto;
        margin-right: auto;
    }

    tbody#contact-table-body {
        display: flex;
        flex-direction: column;
    }

    tbody#contact-table-body > tr > td:last-of-type {
        display: flex;
        flex-direction: column;
    }

    tbody#contact-table-body > tr:first-of-type > td:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    tbody#contact-table-body > tr:first-of-type > td:last-of-type {
        border-top-right-radius: 0px;
    }
    
    tbody#contact-table-body > tr:last-of-type > td:first-of-type {
        border-bottom-left-radius: 0px;
    }
    
    tbody#contact-table-body > tr:last-of-type > td:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    tbody#contact-table-body > tr {
        text-align: center;
    }

    tbody#contact-table-body > tr > td {
        font-size: 10pt;
    }

    tbody#contact-table-body > tr > td:first-of-type {
        display: flex;
        flex-direction: column;
    }

    #email-icon, #phone-icon, #mailing-address-icon {
        padding-right: 0px;
    }
}

/* Extra small devices (phones, 301px up and 600px down) */
@media only screen and (min-width: 351px) and (max-width: 600px) {
    tbody#contact-table-body > tr {
        text-align: center;
    }

    tbody#contact-table-body > tr > td {
        font-size: 12pt;
    }

    tbody#contact-table-body > tr > td:first-of-type {
        display: flex;
        flex-direction: column;
    }

    #email-icon, #phone-icon, #mailing-address-icon {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 675px) {
    #email-icon, #phone-icon, #mailing-address-icon {
        height: 25px;
    }

    tbody#contact-table-body > tr > td {
        font-size: 13.5pt;
    }
}


/*
 * Contact Form
 */
#message-us-header {
    padding-top: 40px;
}

/*
#contact-form > .form-field-label {
    display: block;
    margin-top: 1em;
    font-family: var(--text-font-stack);
}

#contact-form > .form-field-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-family: var(--text-font-stack);
}

#contact-form > .form-field-textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-family: var(--text-font-stack);
    resize: none;
}

#contact-form > .form-field-submit {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 1em;
    font-family: var(--display-font-stack-bold);
}

#contact-form > .form-field-submit:hover {
    background-color: black;
    color: white;
}
*/

#contact-form-alert {
    display: none;
}