/*
 * General Setup
 */
html {
    font-family: var(--text-font-stack);
}

body {
    margin: 0px;
    background-color: white;
    color: black;
}

main {
    background-color: rgb(64, 64, 64);
}

h1, p {
    margin-block: unset;
}

main > .main-content {
    background-color: white;
    padding: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main > .main-content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main > .main-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*
 * Navigation Menu
 */
.nav-menu {
    background-color: darkgray;
    color: black;
}

.site-header-label-container {
    padding: 10px;
    padding-top: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 48pt;
    text-align: center;
    font-family: var(--display-font-stack-extra-bold);
}

.nav-menu-tabs {
    padding: 10px;
    margin: auto;
    width: fit-content;
}

.nav-menu-tab-button {
    background-color: lightgray;
    color: black;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    font-size: 18pt;
    font-family: var(--display-font-stack-extra-bold);
}

.nav-menu-tab-button:hover {
    background-color: black;
    color: white;
}

.selected-nav-menu-tab {
    /* Change color of selected tab */
    background-color: yellow;
    color: black;
    
}

.selected-nav-menu-tab:hover {
    background-color: yellow;
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .site-header-label-container {
        font-size: 24pt;
    }

    .nav-menu-tabs {
        display: flex;
        flex-direction: column;
    }

    .nav-menu-tab-button {
        font-size: 14pt;
    }
}


/*
 * Main Content
 */
body > main {
    /*display: flex;
    flex: 1;*/
}


/*
 * Bottom Footer
 */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: darkgray;
    color: black;
    width: 100%;
    /*margin-top: auto;*/
    display: flex;
    /*min-height: inherit;*/
}

.footer-text {
    font-family: var(--display-font-stack-bold);
    padding: 10px;
    text-align: center;
}

.footer-text:first-of-type {
    margin-left: auto;
}

.footer-text:last-of-type {
    margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    .footer-text {
        font-size: 8pt;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0px;
    }

    .footer-text:last-of-type {
        padding-bottom: 10px;
    }
}